@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }

    .menu{
        margin-left: 20px;
    }

    ul{
        margin: 0px;

    }
    main{
        display: flex;
        flex-direction: column;
        max-width: 382px;
    }

    h1{
        max-width: 300px;
        margin-top: 20px;
        font-size: 28px;
    }

    p{
        max-width: 382px;
    }
     p::first-line{
        margin-right: 10px;
     }

    .content{
        margin-bottom: 0px;
    }
    .container1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Alinha os itens ao topo do contêiner */
       max-width: 380px; 
    }

    .titulo1{
        margin-top: 0px;
    }

    .drop1 .drop2 .drop3{
        background-color: var(--cor4);
    border-radius: 40px;
    box-shadow: 10px 10px 5px var(--cor1);
    padding: 10px;
    position: absolute;
    display: none;

    }
    
    img{
        display: none;
    }

}



